body{
    background-image: url("foto1.jpg");
    background-repeat: no-repeat;
}

#conte1{

    width: 575px;
    margin: 0 auto;
    background-color: rgb(61, 61, 61);
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 20px;
    opacity: 0.8;
}

samp{

    color: white;
    font-family: Verdana;
    margin-top: 20px;
    margin-left: 37px;
}

h1{
    text-align: center;
    color: white;
    font-family: Arial,sans-serif;
}

.campotexto{

    margin-top: 10px;
    margin-left: 5px;
    padding-left: 6px;    
    border-radius: 10px;
    border: 1px solid white;
}

.texto{

    margin-left: 150px;
}

.boton{

    margin: 20px;
    margin-top: 10px;
    margin-left: 5px;
    width: 120px;
    background-color: white;
    border: 1px solid white;
    border-radius: 10px;
    text-align: center;
}

.boton:hover {

    background-color: grey;
    color: white;
    border: 1px solid grey;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

#salida{

    width: 570px;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: rgb(61, 61, 61);
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 20px;
    opacity: 0.8;
}

h3{
    text-align: center;
    color: white;
    font-family: Arial,sans-serif;
}

article{
    margin: 20px;
    background-color: white;
    border: 1px solid white;
    border-radius: 7px;
    width: 530px;
}

article p{
    font-family: Arial,sans-serif;
    text-align: center;
}

#Map{

    width: 590px;
    margin: 0 auto;
    background-color: rgb(61, 61, 61);
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 20px;
    opacity: 0.8;
}

iframe{
    width: 550px;
    margin-left: 20px;
    border-radius: 10px;
}